In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#from google.colab import drive
#drive.mount('/content/drive')

df = pd.read_csv("dataset_mood_smartphone.csv")

In [12]:
# Create columns for variables that have a value
for var in df["variable"].unique():
    df['%s'%var] = np.where(df['variable'] == var, df['value'], np.NaN)

# Split the date-time in seperate columns, transform to a datetime format
df[['date', 'time']] = df['time'].str.split(' ', 1, expand=True)
df['time'] = pd.to_datetime(df['date'] + ' ' + df['time'], format='%Y-%m-%d %H:%M:%S.%f')

In [13]:
df.head()

,Unnamed: 0,id,time,variable,value,mood,circumplex.arousal,circumplex.valence,activity,screen,...,appCat.finance,appCat.game,appCat.office,appCat.other,appCat.social,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather,date
0,1,AS14.01,2014-02-26 13:00:00,mood,6.0,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-02-26
1,2,AS14.01,2014-02-26 15:00:00,mood,6.0,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-02-26
2,3,AS14.01,2014-02-26 18:00:00,mood,6.0,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-02-26
3,4,AS14.01,2014-02-26 21:00:00,mood,7.0,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-02-26
4,5,AS14.01,2014-02-27 09:00:00,mood,6.0,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-02-27

In [14]:
# Pick one sample user
df1 = df[df['id'] == 'AS14.01']
df_avg = pd.DataFrame()

# Average over the day
take_mean = set(("mood", "activity", "circumplex.arousal", "circumplex.valence"))

# Total time everyday
take_sum = set(("screen", "appCat.builtin","appCat.communication","appCat.entertainment", 
                "appCat.finance", "appCat.game", "appCat.office", "appCat.other", "appCat.social",  
                "appCat.travel", "appCat.unknown", "appCat.utilities", "appCat.weather"))

# Amount of calls or texts a day
take_count = set(("call", "sms"))

for var in df["variable"].unique():
    df2 = df1[df1[var].notna()]
    if var in take_mean:
        df_mean = df2.groupby('date').mean()
        df_avg[var] = df_mean[var]
    if var in take_sum:
        df_sum = df2.groupby('date').mean()
        df_avg[var] = df_sum[var]
    if var in take_count:
        df_count = df2.groupby('date').count()
        df_avg[var] = df_count[var]


df_avg

,mood,circumplex.arousal,circumplex.valence,activity,screen,call,sms,appCat.builtin,appCat.communication,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,appCat.social,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather
date,,,,,,,,,,,,,,,,,,,
2014-02-26,6.250000,-0.250000,0.750000,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-27,6.333333,0.000000,0.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-21,6.200000,0.200000,0.200000,0.134050,153.665872,6.0,NaN,14.269173,55.095526,53.024000,6.193000,NaN,57.40200,29.968875,75.141667,70.418846,NaN,23.029000,NaN
2014-03-22,6.400000,0.600000,0.500000,0.236880,47.613651,3.0,1.0,7.781160,51.697063,46.662000,7.025333,NaN,NaN,14.020429,36.636000,37.305000,NaN,39.207000,NaN
2014-03-23,6.800000,0.200000,0.800000,0.142741,67.067644,NaN,NaN,12.134396,53.442031,31.448667,10.850750,NaN,NaN,12.137167,50.046611,NaN,NaN,30.086000,30.386
2014-03-24,6.000000,0.800000,0.000000,0.078961,76.772199,10.0,NaN,4.982506,47.541687,122.121375,5.684333,NaN,3.01000,11.093000,74.968047,83.961000,NaN,89.366000,NaN
2014-03-25,6.750000,0.500000,0.500000,0.098374,169.097283,NaN,1.0,10.026874,69.437507,34.103000,10.763500,NaN,NaN,29.803167,68.552536,NaN,29.402875,22.289300,NaN
2014-03-26,6.600000,-0.200000,0.600000,0.101308,94.389661,NaN,NaN,8.460123,47.061534,130.068429,8.721833,NaN,NaN,16.249667,124.109703,NaN,NaN,33.365000,NaN
2014-03-27,7.000000,0.200000,0.800000,0.159511,129.201111,2.0,1.0,7.982643,43.353200,71.037667,14.073000,NaN,15.20425,9.755333,71.952385,23.657000,NaN,16.275364,NaN
2014-03-28,6.400000,-0.600000,0.600000,0.095698,55.948739,5.0,NaN,81.149960,24.078694,91.400273,12.738000,116.5180,NaN,37.658500,25.637050,59.632053,NaN,30.171700,NaN
2014-03-29,8.000000,0.200000,1.000000,0.068203,130.040969,4.0,1.0,23.525663,47.731439,108.495267,NaN,NaN,NaN,24.227714,59.111000,17.478333,NaN,25.026542,NaN
2014-03-30,7.500000,-0.500000,0.750000,0.049093,167.526444,NaN,NaN,7.818208,61.833571,170.630778,NaN,NaN,NaN,12.333833,55.895000,NaN,33.238500,38.296000,NaN
2014-03-31,7.400000,0.000000,0.600000,0.070505,95.458339,6.0,NaN,17.019569,41.338271,51.732941,6.875833,51.1760,NaN,24.414000,56.277292,36.676200,29.290000,12.370882,NaN
2014-04-01,6.000000,0.200000,0.000000,0.118443,90.388979,1.0,NaN,5.749033,33.127859,42.943208,15.217389,78.2470,30.79600,15.148750,45.818791,115.330071,NaN,19.171704,NaN
2014-04-02,6.500000,0.333333,0.666667,0.101917,94.506686,4.0,NaN,16.428859,33.756859,46.323310,13.040895,NaN,90.48100,23.545261,64.694189,NaN,NaN,21.335687,NaN
2014-04-03,6.400000,-1.200000,0.000000,0.049238,79.857593,4.0,NaN,9.175747,46.424701,49.755038,25.411333,NaN,NaN,14.260133,44.425930,19.082000,NaN,14.059385,NaN
2014-04-04,6.200000,0.200000,0.400000,0.126689,80.385786,2.0,1.0,10.197026,44.566081,96.576688,NaN,NaN,NaN,22.100125,71.937828,22.605857,NaN,9.899385,NaN
2014-04-05,6.800000,-0.400000,0.600000,0.119002,53.022714,NaN,NaN,163.002043,37.708180,76.369000,NaN,NaN,NaN,11.590429,45.401000,31.324167,NaN,13.217333,NaN
2014-04-06,6.500000,-0.750000,0.500000,0.064408,82.058484,4.0,NaN,33.945239,47.939186,93.607000,NaN,57.2030,NaN,19.853333,64.292000,NaN,NaN,9.249800,NaN
2014-04-07,6.500000,-0.666667,0.250000,0.050671,80.708041,1.0,NaN,7.079214,57.015620,74.520167,9.225600,NaN,17.10700,21.293500,61.475750,60.247000,NaN,51.452750,NaN
2014-04-08,6.600000,-0.400000,0.333333,0.075327,71.231755,1.0,NaN,5.685917,49.106492,165.070429,6.377000,NaN,NaN,29.930571,59.002689,NaN,NaN,18.071500,NaN
2014-04-09,7.400000,-0.800000,1.000000,0.120384,67.454174,4.0,NaN,9.582556,38.130099,78.397500,NaN,NaN,NaN,43.331750,44.161719,NaN,NaN,115.471800,NaN
2014-04-10,7.400000,-0.400000,0.800000,0.078963,101.044554,7.0,NaN,6.685561,65.085480,154.907750,NaN,1.0590,23.19500,13.489875,39.157233,NaN,NaN,25.179133,NaN
2014-04-11,7.000000,-1.200000,0.800000,0.079986,85.584114,NaN,NaN,24.064507,27.575140,123.508625,15.682167,NaN,NaN,8.575333,45.908231,34.234000,NaN,23.849778,NaN
2014-04-12,7.250000,-0.750000,0.750000,0.072249,250.017213,NaN,NaN,5.600852,143.371370,182.206833,NaN,NaN,NaN,11.290429,44.072000,5.031000,NaN,14.095680,NaN
2014-04-13,8.000000,-1.250000,1.000000,0.014021,57.307171,NaN,NaN,6.301620,47.686739,62.348000,9.157000,NaN,NaN,8.564455,17.251000,NaN,NaN,NaN,NaN
2014-04-14,7.200000,-1.200000,0.600000,0.083887,138.349600,1.0,1.0,5.463528,51.478444,216.053655,14.887167,NaN,NaN,12.091333,162.332500,14.552000,NaN,34.000483,NaN
2014-04-15,6.400000,0.000000,0.800000,0.090112,101.382261,8.0,1.0,6.735679,40.681248,49.711684,4.347667,NaN,NaN,18.402500,100.641136,8.363000,NaN,19.985214,NaN
2014-04-16,7.200000,0.750000,0.500000,0.116110,75.893788,NaN,1.0,6.198745,36.964400,23.707444,NaN,NaN,NaN,6.797333,65.960414,NaN,NaN,22.358700,NaN
2014-04-17,6.600000,-0.400000,0.600000,0.056918,150.184800,2.0,NaN,4.886735,108.746229,28.448200,NaN,NaN,NaN,10.752600,70.238200,NaN,NaN,16.572667,NaN
2014-04-18,6.800000,-0.800000,0.800000,0.094033,156.868942,1.0,NaN,13.583197,65.142159,86.039333,17.023286,NaN,NaN,6.827000,199.392200,21.291333,NaN,22.170000,NaN
2014-04-19,7.800000,-0.200000,1.000000,0.099432,162.112780,1.0,NaN,7.630565,35.431948,78.212333,15.938167,29.0840,NaN,6.296400,36.061091,64.445000,NaN,33.977333,NaN
2014-04-20,7.250000,-0.250000,0.750000,0.074816,93.747393,2.0,2.0,6.144425,57.295678,60.624333,5.303000,NaN,NaN,6.840400,93.239250,NaN,NaN,12.103500,NaN
2014-04-21,7.600000,-0.250000,1.000000,0.102041,64.965949,2.0,NaN,33.419728,43.572761,18.720000,11.088667,NaN,NaN,11.609800,61.281714,22.759333,NaN,21.088200,NaN
2014-04-22,7.400000,0.200000,1.000000,0.091930,84.646284,2.0,NaN,12.092645,46.752728,39.322036,6.408833,NaN,NaN,10.526667,67.740381,NaN,NaN,20.153095,NaN
2014-04-23,7.600000,0.200000,1.000000,0.045986,96.902267,1.0,NaN,7.963676,54.111952,38.603000,6.017000,NaN,NaN,7.066333,43.883167,NaN,NaN,22.449455,NaN
2014-04-24,7.600000,-0.400000,1.000000,0.050903,206.415682,1.0,NaN,9.646520,64.614220,103.836628,41.987400,NaN,NaN,7.983250,76.815314,17.061333,NaN,23.103129,NaN
2014-04-25,7.200000,-0.200000,0.800000,0.109061,99.105972,2.0,1.0,6.289331,51.261577,50.064000,7.023667,NaN,NaN,11.474500,96.856261,21.105333,NaN,20.469059,NaN
2014-04-26,7.600000,-0.200000,1.000000,0.214249,221.171700,3.0,4.0,8.732515,59.717605,125.556000,6.816750,NaN,NaN,9.241000,789.459000,23.538650,3.148000,15.036333,NaN
2014-04-27,7.500000,0.000000,1.000000,0.030479,107.557774,NaN,NaN,15.747732,50.656208,137.292818,NaN,NaN,NaN,105.668400,13.735000,NaN,NaN,10.056333,NaN
2014-04-28,7.600000,-0.800000,0.800000,0.019675,121.436292,2.0,NaN,11.508781,55.263200,110.602714,51.694778,NaN,NaN,12.097333,201.994417,NaN,NaN,17.281500,NaN
2014-04-29,7.000000,-0.250000,1.000000,0.102758,77.189137,NaN,NaN,38.056928,48.539810,65.105542,NaN,166.6525,NaN,8.094400,102.871250,20.991000,NaN,21.601895,NaN
2014-04-30,7.800000,-0.400000,0.750000,0.151051,79.787870,1.0,NaN,7.160703,34.140558,33.657467,62.503667,NaN,NaN,23.222875,9.907333,17.049875,NaN,22.459000,NaN
2014-05-01,8.000000,-0.400000,1.000000,0.037065,81.240586,7.0,4.0,9.380565,40.753284,58.858250,29.357867,NaN,28.09800,7.405000,144.674765,NaN,NaN,17.971267,NaN
2014-05-02,7.600000,-0.200000,1.000000,0.077341,120.708152,NaN,NaN,6.628633,58.278809,58.814667,34.508000,NaN,NaN,6.488600,45.368588,NaN,NaN,5.541500,NaN
2014-05-03,8.000000,-0.200000,1.000000,0.071741,109.147147,NaN,1.0,9.657141,74.422557,125.543182,37.039125,NaN,NaN,8.113800,22.844667,143.631000,30.102000,31.401250,NaN
2014-05-04,8.000000,-0.500000,1.000000,0.136192,92.018672,NaN,NaN,18.509874,52.838891,154.734333,NaN,NaN,NaN,7.105000,98.935400,NaN,NaN,NaN,NaN